<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astrology page</title>
        <style>
            body{
                background-color: aqua;
            }
            span{
                color: brown;
            }
        </style>
    </head>
    <body>
        <h1>Hello Friends,<span>{{wish}}</span></h1><hr>
        <h2>Now the server time is: <span>{{time}}</span></h2>
        <h2>Astrology info is: <span>{{msg}}</span></h2>
        <h2>Very Soon You will get marrige with <span>{{name}}</span></h2>
    </body>
</html>